[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true
    line-numbers = true
    decorations = true

[merge]
    conflictstyle = zdiff3
[user]
	name = Wael Bettayeb
	email = bettayebwael@gmail.com
	signingkey = 86439E68FE4B63B8D663B74E2DC64B9B98C7AE1F
[commit]
	gpgsign = true
[http]
	postBuffer = 524288000
